node_modules
public/assets/Cover/Ateez - The World EP.2 
public/assets/Cover/Ateez - The World EP.2 
public/assets/Cover/Pet Shop Boys - Nonetheless 
public/assets/Cover/Varios Artistas - Led Zeppelin Origins 
